@mixin breakpoint() {
  @media (min-width: $screen) { @content; }
}

@mixin root($child) {
  @at-root #{$child}#{&} {
      @content;
  }
}

// svg icon
@function arrow($color) {
  @return url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M15.76 18.581a.84.84 0 0 1 .002 1.175.81.81 0 0 1-1.066.082l-.091-.08-6.6-6.67a.84.84 0 0 1-.08-1.083l.08-.093 6.6-6.67a.81.81 0 0 1 1.157.002.84.84 0 0 1 .077 1.082l-.08.093L9.742 12.5l6.017 6.08z' fill='#{$color}' fill-rule='evenodd'/%3e%3c/svg%3e");
}

@mixin svg($fn, $width, $height, $color) {
  overflow: hidden;
  display: inline-block;
  line-height: 99em;
  vertical-align: top;
  width: $width + px;
  height: $height + px;
  $color: rgba($color, 0.999);
  background-image: call(get-function($fn), $color);
  background-repeat: no-repeat;
  background-size: contain;
}
