@charset "utf-8";

// variables
// path
$imgpath: '~@/assets/';

// font
$font: 'Roboto', 'Noto Sans KR', sans-serif;
$font-size: 10px;

//color
$color: #3a3a40;
$graya: #787c89;
$line: #dfe2ec;
$placehoder: #666;
$blue: #4343d6;

$red: #fe0955;
$color1: #ffd35c;
$color2: #29afff;
$color3: #50ebc3;
$color4: #fb9f5f;
$white: #fff;

// size
$max: 1020px;
$screen: 768px;
