@charset "utf-8";

// variables
// path
$imgpath: '~@/assets/';

// font
$font: 'Roboto', 'Noto Sans KR', sans-serif;
$font-size: 10px;

//color
$color: #3a3a40;
$graya: #787c89;
$grayb: #b1b1b3;
$line: #c6c8cf;
$placehoder: #666;
$blue: #0294e9;

// size
$max: 1020px;
$screen: 768px;
